@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #09090b;
    --foreground: #ffffff;
  }

  body {
    @apply bg-background text-foreground;
  }
}
